    <!-- 头部导航 -->
    <header>
        <div class="top-nav-area layout">
            <div class="area">
                <div class="area-title">滁州市</div>
                <div class="area-triangle"></div>
            </div>
            <ul class="top-nav-tool">
                <li class="list-item hover-box sign"><a href="javascript:void(0)"><span>请登录</span></a>
                    <!-- 鼠标移入出现的登录盒子 -->
                    <div class="sign-info-box">
                        <div class="top-nav-info clearfix">
                            <div class="top-inf-avater"></div>
                            <div class="top-pic-infs"><a href="./login.html">你好！[请登录]</a></div>
                        </div>
                        <p class="top-nav-list">
                            <span><a href="#">我的收藏</a></span>
                            <span><a href="#">我的订单</a></span>
                            <span><a href="#">零钱</a></span>
                            <span><a href="#">我的优惠券</a></span>
                            <span><a href="#">我的唯品币</a></span>
                            <span><a href="#">唯品金融</a></span>
                        </p>
                    </div>
                </li>
                <li class="list-item"><a href="./register.html"><span>注册</span></a></li>
                <li class="list-item sign-in">
                    <span>

                        <a href="#"><i class="gift-img"></i><span>签到有礼</span></a>
                    </span>
                    <div class="sign-in-info">
                        <a class="sign-in-continue" href="#">连续签到项心动好礼</a><a href="#" class="sign-in-btn">签到</a>
                    </div>
                </li>
                <li class="list-item"><a href="#"><span>我的订单</span></a></li>
                <li class="list-item hover-box my-sale">
                    <a href="#"><span>我的特卖<i class="ico-dis"></i></span></a>
                    <p class="top-nav-list">
                        <span><a href="#">商品收藏</a></span>
                        <span><a href="#">品牌收藏</a></span>
                        <span><a href="#">我的足迹</a></span>
                    </p>
                </li>
                <li class="list-item hover-box vip-club">
                    <a href="#"><span>会员俱乐部<i class="ico-dis"></i></span></a>
                    <p class="top-nav-list">
                        <span><a href="#">俱乐部首页</a></span>
                        <span><a href="#">唯品币兑换</a></span>
                    </p>
                </li>
                <li class="list-item hover-box customer-service">
                    <a href="#"><span>客户服务<i class="ico-dis"></i></span></a>
                    <p class="top-nav-list">
                        <span><a href="#">联系客服</a></span>
                        <span><a href="#">帮助中心</a></span>
                        <span><a href="#">服务中心</a></span>
                        <span><a href="#">知识产权投诉</a></span>
                    </p>
                </li>
                <li class="list-item hover-box v-tel">
                    <a href="#"><i class="ico-tel"></i><span>手机版</span></a>
                    <!-- 鼠标移入图片显示 -->
                    <div class="tel-qrcode">

                        <a href="#"><img src="https://b.appsimg.com/2016/06/17/863/1466134037230.jpg" alt=""></a>
                        <h5>随时逛 随时抢</h5>
                    </div>
                </li>
                <li class="list-item hover-box more">
                    <a href="#"><span>更多<i class="ico-dis"></i></span></a>
                    <div class="more-info">
                        <div class="top-info">
                            <h5>合作专区</h5>
                            <p><a href="#">唯品卡</a></p>
                        </div>
                        <div class="bottom-info">
                            <h5>关于我们</h5>
                            <p>
                                <a href="#">Sell on Vip</a>
                                <a href="#">品牌招商</a>
                                <a href="#">官方博客</a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <!-- 标题搜索框 -->
    <div class="head inner clearfix">
        <div class="layout">
            <div class="left-img">
                <div class="logo">
                    <h1><a href=""><img src="https://b.appsimg.com/upload/momin/2019/02/21/133/1550737570483.png"
                                alt=""></a></h1>
                </div>
                <div class="service-options">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
            <!-- 搜索框加上购物车 -->
            <div class="right">
                <div class="search">
                    <div class="search-ipt-helper">
                        <input type="text" class="search-ipt" placeholder="">
                        <a href="javascript:void(0)" class="search-btn">
                            <span class="search-ico"></span>
                        </a>
                        <!-- 当有焦点的时候我们直接弹出一个浮层显示搜索历史和推荐商品 -->
                        <div class="search-helper">
                            <!-- 搜索历史 -->
                            <div class="search-history">
                                <div class="search-history-title">搜索历史</div>
                                <div class="search-history-list"></div>
                            </div>
                            <!-- 推荐 -->
                            <div class="search-recommend">
                                <div class="search-recommend-title">精选推荐</div>
                                <div class="search-recommend-list">
                                    <ul>
                                        <li><a href="#">护发套装</a></li>
                                        <li><a href="#">手机</a></li>
                                        <li><a href="#">女休闲鞋</a></li>
                                        <li><a href="#">女式T恤</a></li>
                                        <li><a href="#">女运动休闲鞋</a></li>
                                        <li><a href="#">男休闲鞋</a></li>
                                        <li><a href="#">男休闲鞋</a></li>
                                        <li><a href="#">面膜</a></li>
                                        <li><a href="#">男休闲鞋</a></li>
                                        <li><a href="#">男休闲鞋</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="search-hots-pot">
                        <ul class="hot-list">
                            <li><a href="#">护发套装</a><span>|</span></li>
                            <li><a href="#">手机</a><span>|</span></li>
                            <li><a href="#">女休闲鞋</a><span>|</span></li>
                            <li><a href="#">女式T恤</a><span>|</span></li>
                            <li><a href="#">女运动休闲鞋</a><span>|</span></li>
                            <li><a href="#">男休闲鞋</a></li>
                        </ul>
                    </div>
                </div>
                <div class="car">
                    <a href="#">
                        <!-- 购物的小图片 -->
                        <span class="car-ico"></span>
                        <p class="car-text">购物袋</p>
                        <!-- 购物车数量统计 -->
                        <span class="car-counts">0</span>
                    </a>
                    <div class="car-info">
                        <div class="hr"></div>
                        <p>好像还未登录! <a href="#" class="login-btn">马上登录</a> 查看购物袋吧</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <nav class="clearfix nav">
        <div class="layout main">
            <ul class="nav-list">
                <li class="first">
                    <a class="top_nav" href="#"><img class="ico-p"
                            src="http://b.appsimg.com/upload/momin/2018/09/10/150/1536548648745.png">商品分类</a>
                    <ul class="t-w-menu">
                       
                    </ul>
                </li>
                <li class="list-item active"><a href="#">首页</a></li>
                <li class="list-item"><a href="./activity.html">暖春行动</a></li>
                <li class="list-item"><a href="#">最后疯抢</a></li>
                <li class="list-item"><a href="#">唯品快抢</a></li>
                <li class="list-item"><a href="#">女装</a></li>
                <li class="list-item"><a href="#">母婴</a></li>
                <li class="list-item"><a href="#">家电</a></li>
                <li class="list-item"><a href="#">国际</a></li>
                <li class="list-item"><a href="#">美妆</a></li>
                <li class="list-item"><a href="#">鞋包</a></li>
                <li class="list-item"><a href="#">预告</a></li>
                <li class="list-item last more"><a href="#">更多<span class="iconfont icon-xiajiantou"></span></a>
                    <ul class="more-list">
                        <li class="more-item"><a href="#">男装</a></li>
                        <li class="more-item"><a href="#">运动</a></li>
                        <li class="more-item"><a href="#">家居</a></li>
                        <li class="more-item"><a href="#">家居</a></li>
                        <li class="more-item"><a href="#">家居</a></li>
                        <li class="more-item"><a href="#">唯品·奢</a></li>
                        <li class="more-item"><a href="#">扶贫</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>