.fw-wrapper {
  position: relative;
  margin-bottom: 40px;
  padding-top: 22px;
  .pic {
    float: left;
    position: relative;
    .pic-sliderwrap {
      width: 420px;
      height: 420px;
      position: relative;
      z-index: 99;
      margin-bottom: 7px;
      background-color: #f7f7f7;
      @at-root .show-midpic {
        width: 420px;
        height: 420px;
        position: relative;
        text-align: center;
        .zoomPad {
          float: left;
          position: relative;
          z-index: 99;
          cursor: crosshair;
          text-align: center;
          width: 420px;
          height: 420px;
          overflow: hidden;
          .zoom_origin_img_box {
            img {
              position: absolute;
            }
          }
        }
        .zoomWindow {
          position: absolute;
          left: 0;
          top: 0;
          width: 420px;
          height: 420px;
          z-index: 110;
        }
        .icon-a {
          background-image: url(//shop.vipstatic.com/img/detail/detail-sprites-hash-5216deac.png?d775612b);
          background-position: -162px -234px;
          width: 20px;
          height: 20px;
          position: absolute;
          bottom: 0;
          right: 0;
          display: block;
          z-index: 100;
        }
      }
    }
    // 下方小图片的盒子
    .pic-slider {
      position: relative;
      width: 420px;
      height: 64px;
      overflow: hidden;
      text-align: center;
      .sImg-wrap {
        overflow: hidden;
        display: inline-block;
        position: absolute;
        width: 852px;
        left: 0px;
        .pic-sImg-item {
          width: 62px;
          height: 62px;
          margin: 0 7px 0 0;
          float: left;
          cursor: pointer;
          overflow: hidden;
          position: relative;
          border: 1px solid #f2f2f2;
          background-color: #f7f7f7;
          &:hover {
            border: 1px solid #f43499;
          }
          img {
            z-index: 10;
          }
        }
      }
    }
  }
}

// 右边选择尺寸盒子颜色的盒子
.productInfo {
  float: left;
  width: 550px;
  position: relative;
  z-index: 100;
  min-height: 634px;
  margin-left: 20px;
  .product-content-inner {
    height: 535px;
  }
  @at-root .pi-title-box {
    .pib-title {
      color: #4d4d4d;
      margin-bottom: 10px;
      clear: both;
      @at-root .pib-title-brandName {
        display: block;
        color: #007cff;
        width: 340px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 16px;
        cursor: pointer;
        line-height: 22px;
        min-height: 22px;
      }
      .pib-title-detail {
        font-size: 16px;
        color: #333;
        max-height: 40px;
        overflow: hidden;
        line-height: 20px;
        margin-top: 8px;
        margin-bottom: 8px;
        font-weight: 700;
      }
    }
  }
  @at-root .pi-price-box {
    padding-bottom: 10px;
  }
  @at-root .pi-price-box {
    background: #f9f9f9;
    margin-bottom: 20px;
    position: relative;
    z-index: 13;
    .spcecialPrice-box {
      color: #333;
      background-color: #f9f9f9;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0 20px;
      .sp-info {
        float: left;
        height: 60px;
        position: relative;
        overflow: hidden;
        max-width: 339px;
        min-width: 200px;
        .sp-title {
          font-size: 14px;
          background: #de3d96;
          border-radius: 32.5px;
          padding: 4px 8px;
          margin-top: 14px;
          color: #fff;
          float: left;
          display: inline-block;
          max-width: 90px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .pbox-yen {
          margin-top: 13px;
          margin-left: 8px;
          font-size: 24px;
          float: left;
        }
        .sp-price {
          font-size: 38px;
          font-family: arial;
          max-width: 200px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          float: left;
          display: inline-block;
          margin-top: 3px;
        }
        .pbox-market,
        .sp-discount {
          padding-left: 10px;
          padding-right: 0;
          float: left;
          margin-top: 20px;
          font-size: 16px;
          color: #999;
        }
      }
    }
  }
}

// 表单盒子
.pi-attr-box {
  position: relative;
  z-index: 10;
  .cartAdd-form {
    position: relative;
    z-index: 5;
    // 配送地址
    .delivery-address-info {
      width: 250px;
      border: 1px solid #ccc;
      cursor: pointer;
      background-color: #fff;
      position: relative;
      //   配送地址的具体位置
      .delivery-address-tips {
        height: 30px;
        line-height: 30px;
        padding: 0 35px 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        // display: inline-block;
      }
      i {
        position: absolute;
        right: 10px;
        top: 8px;
        color: #b3b3b3;
      }
    }
    @at-root .delivery_time_container {
      .message-box {
        color: #666;
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 8px;
      }
    }
    .i-freight {
      position: relative;
      z-index: 14;
      margin-top: 5px;
      line-height: 32px;
    }
    @at-root .i-color {
      padding-top: 12px;
      position: relative;
      z-index: 12;
      min-height: 40px;
      .color-list {
        width: 500px;
        @at-root .color-list-item {
          float: left;
          height: 32px;
          position: relative;
          margin: 0 10px 9px 0;
          .color-selected {
            padding: 0;
            border: 2px solid #f43499;
            @at-root .color-pic-wrapper {
              display: inline-block;
              float: left;
              width: 28px;
              height: 28px;
              background-color: #f7f7f7;
              img {
                display: block;
                margin: 0 auto;
              }
            }
            @at-root .color-item-name {
              display: inline-block;
              float: left;
              text-align: center;
              max-width: 343px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              padding: 0 15px 0 10px;
              line-height: 28px;
              vertical-align: top;
            }
            .i-select,
            .i-chance {
              position: absolute;
              display: none;
            }
            .i-select {
              display: block;
              bottom: 1px;
              right: 1px;
              z-index: 2;
              background-image: url(//shop.vipstatic.com/img/detail/detail-sprites-hash-5216deac.png?d775612b);
              background-position: -144px -170px;
              width: 17px;
              height: 16px;
            }
          }
          a {
            display: inline-block;
            height: 28px;
            max-width: 396px;
            min-width: 68px;
            padding: 1px;
            border: 1px solid #ccc;
            &:hover {
              color: inherit;
            }
          }
        }
      }
    }
    @at-root .i-size {
      padding: 12px 11px 0;
      position: relative;
      z-index: 11;
      margin-left: -11px;
      zoom: 1;
      min-height: 40px;
      .notice-msg {
        position: absolute;
        height: 26px;
        line-height: 26px;
        bottom: -26px;
        right: 0;
        padding-left: 20px;
        color: #f43499;
        display: none;
      }
      @at-root .size-list {
        position: relative;
        padding-right: 120px;
        zoom: 1;
        width: 375px;
        float: left;
        .size-list-item {
          float: left;
          position: relative;
          min-width: 30px;
          max-width: 358px;
          _width: 52px;
          height: 26px;
          font-size: 12px;
          padding: 1px 20px;
          margin: 0 10px 10px 0;
          border: 1px solid #ccc;
          text-align: center;
          line-height: 26px;
          cursor: pointer;
          background-color: #fff;

          @at-root.i-select, .i-change {
            display: none;
            position: absolute;
          }
        }
        .size-selected {
          padding: 0 19px;
          border: 2px solid #f43499;
          .i-select,
          .i-change {
            display: block;
            bottom: 1px;
            right: 1px;
            z-index: 2;
            background-image: url(//shop.vipstatic.com/img/detail/detail-sprites-hash-5216deac.png?d775612b);
            background-position: -144px -170px;
            width: 17px;
            height: 16px;
          }
        }
      }
    }
    @at-root .i-num {
      padding: 11px 10px;
      position: relative;
      height: 30px;
      margin: -1px 0 0 -10px;
      padding-bottom: 10px;
      .num-box {
        position: relative;
        height: 28px;
        border: 1px solid #b3b3b3;
        .num-reduce,
        .num-input,
        .num-add {
          float: left;
          height: 28px;
          line-height: 28px;
          width: 21px;
        }
        .z-disable {
          background-color: #f9f8f8;
          color: #dad8d8;
          cursor: not-allowed;
        }
        .amount {
          float: left;
          width: 29px;
          height: 100%;
          font-size: 12px;
          border-left: 1px solid #e4e3e3;
          border-right: 1px solid #e4e3e3;
          overflow: hidden;
        }
      }
      a {
        float: left;
        width: 21px;
        height: 100%;
        line-height: 22px;
        font-size: 15px;
        color: #7d7c7c;
        background-color: #f9f8f8;
        -webkit-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
      }
    }
    .addErrorMsg {
      display: none;
      color: red;
      font-size: 14px;
      margin-left: 40px;
    }
    .i-button {
      margin-bottom: 12px;
      margin-left: 40px;
      margin-top: 20px;
      .button-box {
        height: 46px;
        margin-right: 20px;
        position: relative;
        .ui-btn-large {
          width: 198px;
        }
      }
    }
  }
  // 每一个文字标题
  dt {
    float: left;
    font-size: 12px;
    width: 40px;
    text-align: left;
    color: #999;
    line-height: 32px;
  }
  dd {
    float: left;
  }
}
.product-text {
  position: relative;
  font-size: 0;
  padding: 12px 0;
  border-bottom: 1px #e2e2e2 dashed;
  @at-root .other-infoCoding {
    color: #999;
    line-height: 20px;
    display: inline-block;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
  }
  @at-root .onsell-collect {
    line-height: 16px;
    cursor: pointer;
    width: 70px;
    padding: 1px 0 1px 2px;
    display: inline-block;
    font-size: 12px;
    margin-left: 18px;
    vertical-align: top;
    .goods-fav-collect {
      color: #999;
      i {
        display: inline-block;
        margin-right: 5px;
        vertical-align: top;
        background-image: url(//shop.vipstatic.com/img/detail/detail-sprites-hash-5216deac.png?d775612b);
        background-position: -187px -170px;
        width: 16px;
        height: 15px;
      }
      .collect-tips {
        font-size: 12px;
        display: inline-block;
        float: right;
      }
    }
  }
}
.pi-promise-box {
  padding: 15px 0;
  overflow: hidden;
  position: relative;
  width: 420px;
  .pi-promise-list {
    width: 1000px;
    padding: 9px 0;
    zoom: 1;
  }
}

// 服务保障信息
.other-form-box {
  border-top: 1px dashed #e6e6e6;
  padding-top: 10px;
  .supplier-service-title {
    margin-right: 11px;
    color: #999;
  }
  .supplier-service-group,
  .supplier-service-item,
  .supplier-service-title {
    display: inline-block;
    vertical-align: top;
  }
  @at-root .supplier-service-item {
    margin-left: -30px;
    width: 530px;
    .supplier-service-group {
      margin-bottom: 15px;
      margin-left: 30px;
      @at-root .supplier-service-icon-online {
        display: inline-block;
        margin-right: 6px;
        background-image: url(//shop.vipstatic.com/img/detail/detail-sprites-hash-5216deac.png?d775612b);
        background-position: -165px -170px;
        width: 18px;
        height: 15px;
      }
      @at-root .supplier-service-link {
        color: #999;
        cursor: default;
        text-decoration: none;
        &:hover {
          color: #999;
        }
      }
      @at-root .supplier-service-time {
        margin-left: 6px;
        color: #999;
      }
    }
  }
  .other-service {
    position: relative;
    z-index: 5;
    margin-bottom: 15px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    *zoom: 1;
    .other-name {
      float: left;
      color: #999;
      margin-right: 10px;
      margin-top: 2px;
    }
    @at-root .other-box {
      float: left;
      text-align: left;
      font-size: 12px;
      color: #666;
      width: 505px;
      &:hover {
        .loan-tips-box {
          display: block;
        }
      }
      .other-service-tips {
        background: url(//shop.vipstatic.com/img/detail/icon_down_grey-hash-354d1bbb.png)
          right no-repeat;
        cursor: pointer;
        @at-root.ht-txt {
          position: relative;
          z-index: 1;
          width: 480px;
          margin-bottom: 5px;
          .services-wrap {
            display: inline-block;
            height: 25px;
            line-height: 25px;
            .iconSuccess {
              background-image: url(//shop.vipstatic.com/img/detail/detail-sprites-hash-5216deac.png?d775612b);
              background-position: -627px -190px;
              width: 16px;
              height: 16px;
            }
            .iconType {
              display: inline-block;
              vertical-align: text-bottom;
              margin-right: 3px;
            }
            .services {
              display: inline-block;
              margin-right: 10px;
            }
          }
        }
        .loan-tips-box {
          .ui-tooltips-arrow {
            position: absolute;
          }
          .arrow-out,
          .arrow {
            left: 50%;

            color: #dbdada;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
            margin-left: -7px;
            bottom: -8px;
            position: absolute;
            width: 14px;
            text-align: left;
            height: 14px;
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            color: #fff;
          }
          .other-service-content {
            width: 506px;
            .services-wrap {
              display: block;
              margin: 15px 5px;
              .iconSuccess {
                background-image: url(//shop.vipstatic.com/img/detail/detail-sprites-hash-5216deac.png?d775612b);
                background-position: -627px -190px;
                width: 16px;
                height: 16px;
              }
              .iconType {
                display: inline-block;
                vertical-align: text-bottom;
                margin-right: 3px;
              }
              .services {
                display: inline-block;
                margin-right: 10px;
                font-size: 14px;
                font-weight: 700;
              }
              .description {
                display: block;
                margin-left: 25px;
                margin-top: 5px;
                p {
                  display: inline-block;
                  color: #666;
                }
              }
            }
          }
        }
      }
    }
  }
}
