/* 右栏 */
.sidebar_r {
  height: 100%;
  width: 36px;
  position: fixed;
  right: 0;
  background: #262626;
  z-index: 666;
  .sidebarcom-nav {
    height: 100%;
    position: relative;
  }
}
.sidebarcom-oper {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -250px;
  span {
    color: #fff;
    display: block;
  }
  li {
    height: 36px;
    line-height: 36px;
    &:hover {
      background: #df147f;
    }
  }
  .account {
    padding: 8px 0 6px;
    line-height: 1;
    margin-bottom: 8px;
  }
  .bag-number {
    color: #fff;
    display: block;
  }
  i {
    font-size: 24px;
    color: #fff;
  }
  .shopping-bag {
    background: #df147f;
    height: 150px;
    line-height: 1;
    margin-bottom: 5px;
    i {
      display: block;
      padding: 15px 0 10px;
    }
    span {
      display: block;
      margin: 0 auto;
      font-size: 14px;
      width: 14px;
      line-height: 18px;
    }
    strong {
      font-weight: normal;
      color: #df147f;
      display: block;
      line-height: 20px;
      margin: 5px auto;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
    }
  }
}
.sidebarcom-nav .bottom-opr {
  width: 100%;
  font-size: 24px;
  color: #cccccc;
  text-align: center;
  position: absolute;
  bottom: 1%;
  div {
    width: 36px;
    height: 36px;
    &:hover {
      background: #df147f;
      color: #fff;
    }
  }
}
/* 左栏 */
.sidebar-l .left-ladder {
  width: 78px;
  height: 456px;
  background: #fff;
  position: absolute;
  left: 13%;
  top: 1610px;
  z-index: 13;
  border: 1px solid #d6d6d6;
  padding: 5px 0;
  border-radius: 3px;
  .iconfont {
    color: #949494;
  }
  @at-root .index-nav-floor {
    display: block;
    color: #666;
    width: 68px;
    height: 38px;
    margin: 0 auto;
    text-align: center;
    padding: 8px 8px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border-bottom: 1px solid #eaeaea;
    span {
      line-height: 20px;
      &:first-child {
        position: relative;
        font-size: 20px;
        top: 3px;
        margin-right: 5px;
      }
    }
    &:hover span {
      color: #fa2a83;
    }
  }
}
.sidebar-l .index-nav-floor.cur {
  background: #df147f;
  span {
    color: #fff;
  }
}
/* logo 加搜索框 */
.logo {
  width: 160px;
  height: 100px;
  float: left;
  h1 {
    margin-left: -20px;
    img {
      width: 160px;
      height: 100px;
    }
  }
}
.service-options {
  float: left;
  a {
    width: 101px;
    height: 100px;
    display: block;
    float: left;
    &:first-child {
      background: url(../img/services-option1.jpg) no-repeat center center;
    }
    &:nth-child(2) {
      background: url(../img/services-option2.jpg) no-repeat center center;
    }
    &:last-child {
      background: url(../img/services-option3.jpg) no-repeat center center;
    }
  }
}
/* 搜索框 加购物车 */

.head .search {
  float: left;
  margin-right: 36px;
  input {
    width: 397px;
    height: 32px;
    border: 2px solid #fa2a83;
    text-indent: 10px;
  }
  .search-btn {
    width: 53px;
    height: 38px;
    background: #fa2a83;
    float: right;
    text-align: center;
  }
  .search-ico {
    display: inline-block;
    background: url(https://shop.vipstatic.com/img/common/header/sprites-hash-b45bfef8.png?9e581dc2)
      no-repeat;
    background-position: -72px -208px;
    width: 19px;
    height: 22px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.head .right {
  float: right;
  font-size: 12px;
  margin-top: 33px;
  .car {
    float: right;
    width: 94px;
    height: 32px;
    border: 1px solid #cccccc;
    text-align: center;
    padding-top: 10px;
    line-height: 1;
    box-sizing: border-box;
    background-color: #f6f7f9;
    position: relative;
    border-radius: 2px;
    &:hover {
      background: #fff;
      border-bottom: none;
      height: 50px;
      .car-info {
        display: block;
      }
    }
    .car-ico {
      background: url(https://shop.vipstatic.com/img/common/header/sprites-hash-b45bfef8.png?9e581dc2)
        no-repeat;
      background-position: -114px -208px;
      width: 12px;
      height: 17px;
      position: absolute;
      top: 8px;
      left: 8px;
      z-index: 1;
    }
    .car-text {
      margin-left: -5px;
    }
    .car-info {
      width: 320px;
      position: absolute;
      right: -1px;
      background: #fff;
      border: 1px solid #cdcdcd;
      border-top: none;
      top: 44px;
      padding: 25px 14px 25px 13px;
      display: none;
      z-index: 13;
      .login-btn {
        color: #f10180;
      }
    }
    .car-counts {
      display: inline-block;
      width: 24px;
      height: 16px;
      border-radius: 10px;
      background-color: #fa2a83;
      color: #fff;
      line-height: 16px;
      position: absolute;
      right: 3px;
      top: 8px;
    }
  }
  a {
    color: #333333;
    font-size: 12px;
  }
}
.head .search-hots-pot {
  margin-left: -11px;
  li {
    float: left;
    color: #999999;
    line-height: 24px;
  }

  a {
    display: inline-block;
    color: #999999;
    margin: 0 11px;
  }
}
/* 搜索框帮助部分 */
.head .search-helper {
  position: absolute;
  width: 442px;
  height: 231px;
  color: #999999;
  font-size: 12px;
  background: #fff;
  border: 1px solid #cdcdcd;
  border-top: none;
  padding: 20px 0 0 10px;
  /* box-sizing: border-box; */
  z-index: 16;
  display: none;
  .search-history {
    float: left;
    width: 150px;
    height: 231px;
    border-right: 1px solid #e0e0e0;
  }
  .search-recommend {
    width: 148px;
    height: 216px;
    padding: 0 5px 0 15px;
    float: left;
    li {
      line-height: 20px;
      margin: 0 5px 10px 0;
      border: 1px solid #cdcdcd;
      padding: 0 5px;
      float: left;
      &:hover {
        border-color: #fa2a83;
        a {
          color: #fa2a83;
        }
      }
    }
    .search-recommend-title {
      margin-bottom: 20px;
    }
  }
}
.head .search-ipt-helper:hover .search-helper {
  display: block;
}
/* banner图部分 */
.banner {
  width: 100%;
  height: 500px;
  position: relative;
  background: no-repeat center top;
  overflow: hidden;
  top: -1px;
}
/* nav导航栏部分 */
nav .main ul li {
  float: left;
}
nav .main a {
  font-size: 16px;
  color: #333333;
}

nav .first {
  background: #f10180;
  text-align: center;
  padding-top: 8px;
  line-height: 1;
  position: relative;
  margin-right: 25px;
  &:hover {
    .t-w-menu {
      display: block;
    }
  }
  .top_nav {
    display: block;
    width: 156px;
    height: 35px;
    color: #fff;
    border-top: 1px solid transparent;
    .ico-p {
      vertical-align: middle;
      margin: -3px 6px 0 0;
    }
  }
}
nav .t-w-menu {
  position: absolute;
  z-index: 12;
  width: 156px;
  background: #f10180;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #f10180;
  display: none;
  .t-w-m-item {
    width: 100%;
    text-align: center;
    padding: 16px 0;
    &:hover {
      background: #fff;
      color: #f10180;
      .t-w-box {
        display: block;
      }
    }
  }
  .t-w-box {
    width: 1014px;
    height: 485px;
    background: #fff;
    position: absolute;
    left: 156px;
    top: 0;
    z-index: 10;
    display: none;
    overflow-y: scroll;
    .brand-type {
      width: 660px;
      padding: 16px 40px 16px 40px;
      border-top: 1px solid #eee;
      float: left;
      .sub {
        margin-bottom: 24px;
        line-height: 24px;
        strong {
          display: block;
          width: 50px;
          float: left;
          color: #222222;
        }
        i {
          float: left;
          color: #666666;
          margin-left: 20px;
          margin-right: 10px;
        }
        ul {
          width: 550px;
          float: left;
          overflow: hidden;
          li {
            a {
              color: #666666;
              font-size: 12px;
              &:hover {
                color: #f10180;
              }
            }
            margin-right: 10px;
          }
        }
      }
    }
    .brand-img {
      float: right;
      width: 222px;
      height: 100%;
      background-color: #f5f5f5;
      padding: 16px;
    }
    .brand-title {
      color: #222;
      text-align: left;
      margin-bottom: 15px;
    }
    .brands {
      li {
        display: inline-block;
        background: #fff;
        width: 68px;
        height: 68px;
        margin-left: 5px;
        margin-top: 12px;
        &:hover {
          border: 1px solid #fa2a83;
          width: 66px;
          height: 66px;
          img {
            top: 14px;
            left: 9px;
          }
        }
        a {
          display: block;
          width: 68px;
          height: 68px;
          position: relative;
        }
        img {
          width: 48px;
          height: 24px;
          position: absolute;
          top: 15px;
          left: 10px;
        }
      }
    }
  }
}

/* 导航文字部分 */
.nav .list-item.active a {
  color: #f10180;
  font-weight: bold;
}
nav .list-item {
  line-height: 43px;
  padding: 0 15px;
  &:hover {
    > a {
      color: #f10180;
    }
  }
}
/* 末尾的更多 */
nav .more {
  position: relative;
  padding: 0 20px;
  .more-list {
    overflow: hidden;
    line-height: 36px;
    position: absolute;
    left: 0;
    top: 44px;
    z-index: 10;
    padding: 0 15px 0 20px;
    background: #fff;
    display: none;
  }
  .more-item{
    &:hover {
      a {
        color: #f10180;
      }
    }
  }
  &:hover {
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.1);
    .more-list {
      display: block;
    }
  }
}
/* 轮播图 */
.swiper-container {
  width: 1122px;
  height: 388px;
  margin-top: 54px;
}
/* 分页器的样式 */
.swiper-pagination {
  width: 458px;
  height: 43px;
  left: 50%;
  transform: translateX(-50%) !important;
  span {
    width: 229px;
    height: 43px;
    background: #fff;
    border-radius: 0;
    line-height: 43px;
    opacity: 1;
  }
}
.swiper-pagination span:nth-of-type(1)::after {
  content: "巴拉巴拉VIP大牌日";
  color: #666666;
}
.swiper-pagination span:nth-of-type(2)::after {
  content: "李宁VIP大牌日 春夏尚新1.8折起";
  color: #666666;
}
.swiper-pagination-bullet-active {
  border-bottom: 3px solid #e6057d;
}
/* 左右两个按钮 */
.swiper-button-prev,
.swiper-button-next {
  width: 33px !important;
  height: 66px !important;
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 2px !important;
  i {
    display: inline-block;
    font-size: 30px;
    color: #cdcdcd;
    line-height: 1;
    margin-top: 18px;
  }
}
/* 每日必看专区 */
.wrap-operate {
  margin-top: 27px;
}
.left-cap {
  float: left;
}
.cap-box {
  width: 600px;
  height: 342px;
  position: relative;
  margin-top: 20px;
  .l-f-box {
    float: left;
    margin-left: 7px;
    text-align: center;
    width: 172px;
    height: 217px;
  }
  .img-show {
    position: absolute;
    top: 76px;
    left: 0;
  }
  .info-box {
    width: 122px;
    height: 76px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    position: absolute;
    bottom: 7px;
    margin-left: 25px;
    img {
      margin-top: 10px;
    }
    p {
      font-size: 14px;
      line-height: 1;
      color: #585c64;
      margin-top: 10px;
    }
  }
  .p-b-price-box {
    margin-top: 10px;
    span {
      color: #000000;
      font-size: 16px;
    }
  }
  .l-f-box.first {
    margin-left: 20px;
  }
}
/* 右边排行 */
.right-cap {
  width: 570px;
  float: right;
  .l-f-box.first {
    margin-left: 18px;
  }
  .l-f-box{
    .img-box {
      position: relative;
      z-index: 1;
    }
  }
  .hot-top-img {
    margin-top: -36px;
  }
  .p-title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    .p-txt {
      display: block;
      line-height: 1;
      margin-top: -20px;
    }
  }
}
/* 下半部分的商品展示 */
.wrap-operate .rush-box {
  position: relative;
  .p-list {
    height: 229px;
    position: absolute;
    top: 100px;
    z-index: 10;
  }
}

/* wrap的大板块 */
/* 今日最新 */
.shop-title {
  margin-top: 40px;
}
.shop-sort .shop-sort-title {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000000;
}
.shop-sort .sp-time {
  position: absolute;
  left: 258px;
  top: 7px;
  font-size: 14px;
  color: #fff;
  em {
    margin-left: 16px;
    font-style: normal;
  }
}
.shop-item{
  &:hover {
    opacity: 0.9;
  }
  .salebg2 {
    color: #f10582;
    font-size: 18px;
    font-weight: 700;
    margin-right: 3px;
  }
}
.shop-sort-ft {
  border-top: 1px solid #e8e8e8;
  a{
    width: 324px;
    display: block;
    color: #fff;
    height: 44px;
    background-color: #f10180;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 16px;
    text-align: center;
    line-height: 44px;
    margin: -1px auto 20px;
  }
}
