.layout {
  width: 1000px;
  margin: 0 auto;
}

.header {
  height: 100px;
  .logo {
    width: 15px;
    height: 100px;
    float: left;
    a {
      display: block;
      width: 125px;
      height: 100px;
      background: url(https://member-ssl.vipstatic.com/img/passport/sprites-hash-c9975078.png?4eaaf192)
        no-repeat;
      background-position: -308px -57px;
    }
  }
  .service {
    width: 304px;
    height: 100px;
    float: right;
    background: url(https://member-ssl.vipstatic.com/img/passport/sprites-hash-c9975078.png?4eaaf192)
      no-repeat;
    background-position: 0 0;
  }
}

/* 中间的背景图 */
.c-body {
  width: 100%;
  background: url(https://a.vpimg2.com/upload/flow/2019/01/29/88/15487540172274.jpg)
    no-repeat top center;
  height: 650px;
}

/* 登录盒子 */
.login-panel {
  width: 360px;
  height: 434px;
  background: #ffffff;
  float: right;
  margin-top: 50px;
  .tab-nav {
    width: 360px;
    height: 50px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    .tab-nav-item.active {
      color: #f10180;
    }
    .tab-nav-item {
      height: 100%;
      width: 180px;
      float: left;
      text-align: center;
      color: #666666;
      font-size: 18px;
      line-height: 50px;
      font-weight: 700;
      &:hover {
        color: #f10180;
      }
    }
    .tab-nav-item-qr {
      position: relative;
      z-index: 1;
    }
    .tab-nav-item-qr {
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 20px;
        background: #cccccc;
        top: 15px;
        right: 0;
        font-size: 0;
        line-height: 0;
      }
    }
  }
}

.qr-row {
  margin-top: 36px;
  position: relative;
  min-height: 192px;
  z-index: 1;
}

.tab-content {
  .qr-img-box {
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 1px solid #f0f0f0;
    position: absolute;
    top: 50%;
    margin-top: -86px;
    left: 50%;
    margin-left: -86px;
    z-index: 2;
  }
  .qr-text {
    margin-top: 20px;
    color: #333333;
    text-align: center;
    line-height: 16px;
    .icon-scan {
      margin-right: 6px;
      vertical-align: top;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(https://member-ssl.vipstatic.com/img/passport/sprites-hash-c9975078.png?4eaaf192)
        no-repeat;
      background-position: -605px -121px;
    }
    .highlight {
      color: #f10180;
    }
  }
}

/* 登录盒子的底部 */
.tab-footer .third-login-special {
  text-align: center;
  a {
    width: 40px;
    height: 40px;
  }
  .wechat-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(https://member-ssl.vipstatic.com/img/passport/sprites-hash-c9975078.png?4eaaf192)
      no-repeat;
    background-position: -580px -161px;
    position: relative;
    z-index: 3;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 40px;
    top: 30px;
    z-index: 2;
    background: #ffffff;
    left: 50%;
    margin-left: -30px;
    position: absolute;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    height: 1px;
    background: #e0e0e0;
    width: 100%;
    left: 0;
    top: 50px;
  }
}
.tab-footer .third-login {
  width: 300px;
  height: 74px;
  padding: 30px 0 15px 0;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  a {
    color: #333333;
    &:hover {
      color: #f10180;
    }
  }
}

.tab-footer .third-main {
  li {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 24px;
    position: relative;
    &::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 1;
      margin-top: -5px;
      height: 10px;
      content: "";
      border-left: 1px solid #e0e0e0;
    }
  }
  .more {
    float: left;
    padding-left: 18px;
    line-height: 24px;
    color: #999999;
    &:hover {
      color: #666;
    }
  }
  .register {
    font-size: 14px;
    float: left;
    padding-left: 18px;
    line-height: 24px;
  }
}

/* 用户账户密码 */
.user-login-box {
  .passport-form {
    width: 300px;
    margin: 0 auto;
  }
  .form-item {
    width: 300px;
    height: 67px;
    @at-root .ui-form-item-group {
      width: 300px;
      height: 44px;
      position: relative;
      input {
        border: 1px solid #b2b2b2;
        color: #000000;
        background-color: #ffffff;
        border-radius: 5px;
        width: 248px;
        height: 32px;
        padding: 6px 10px 6px 40px;
        font-size: 14px;
        line-height: 32px;
      }
    }
    &:first-child {
      margin-top: 40px;
    }
  }
  .error_msg {
    color: #ec5042;
    font-size: 12px;
    width: 300px;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
      display: none;
  }
}

.ui-form-item-group {
  .icon-form {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 13px;
    left: 11px;
    z-index: 1;
  }
  .icon-account {
    background: url(https://member-ssl.vipstatic.com/img/passport/sprites-hash-c9975078.png?4eaaf192)
      no-repeat;
    background-position: -504px -221px;
  }
  .icon-password {
    background: url(https://member-ssl.vipstatic.com/img/passport/sprites-hash-c9975078.png?4eaaf192)
      no-repeat;
    background-position: -528px -221px;
  }
  .icon-error {
    color: #f64a4a;
    font-weight: 600;
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    padding-left: 5px;
    padding-right: 10px;
    line-height: 44px;
      display: none;
  }
}
.c-form-item {
  .other-item {
    a {
      display: block;
      color: #333333;
      font-size: 14px;
      padding-top: 5px;
      &:hover {
        color: #f10180;
      }
    }
    .left {
      float: left;
    }
    .right {
      height: 41px;
      float: right;
    }
  }
}
.form-submit {
  width: 300px;
  height: 46px;
  margin: 0 auto;
  button {
    width: 300px;
    height: 46px;
    background: #f10180;
    color: #ffffff;
    border-radius: 3px;
    font-size: 18px;
  }
}
footer .copyright {
  width: 1000px;
  height: 78px;
  margin: 0 auto;
  line-height: 78px;
  text-align: center;
}

.l-hide {
  display: none;
}