.wrapper {
  padding-top: 20px;
}
.list_fav {
  border-bottom: none;
  padding: 10px 10px 10px 0;
  .fav_name {
    font-size: 18px;
    float: left;
    color: #333333;
    dt {
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 20px;
    }
    dd {
      float: left;
      font-size: 14px;
      margin-left: 20px;
      .salebg2 {
        font-size: 16px;
        color: #333333;
        font-weight: 700;
      }
    }
  }
  @at-root .fav_opr {
    @at-root .btn_fav {
      display: block;
      margin-top: 2px;
      width: auto;
      background-color: #fff;
      transition: 0.2s linear;
      line-height: 22px;
      height: 22px;
      border-radius: 11px;
      font-size: 12px;
      text-align: center;
      overflow: hidden;
      .btn_fav_like {
        width: auto;
        padding: 0 8px;
        border: 1px solid #dfdfdf;
        border-radius: 11px;
        height: 20px;
        line-height: 20px;
        transition: 0.3s;
        display: block;
        color: #f32b80;
        @at-root .number {
          &:last-child {
            color: #999999;
          }
        }
        &:hover {
          background: #f10180;
          border: 1px solid #f10180;
          color: #fff;
          .number {
            color: #fff;
          }
        }
      }
    }
  }
}
// 选择尺寸类型的面板
.choose {
  margin-bottom: 20px;
  .filter {
    margin-bottom: 20px;
    .filter-groups {
      border: 1px solid #dfdfdf;
      height: 400px;
      .filter-group {
        position: relative;
        z-index: 1;
        margin-top: -1px;
        border-top: 1px dotted #ddd;
        zoom: 1;
        .filter-group-title {
          font-weight: 400;
          color: #666;
          padding-left: 20px;
          width: 98px;
          float: left;
          padding-top: 16px;
          padding-bottom: 16px;
        }
        .filter-group-content {
          float: left;
          padding-top: 16px;
          padding-bottom: 16px;
          .filter-group-scroll {
            max-height: 16px;
            overflow: hidden;
            width: 711px;
            .filter-data-item {
              float: left;
              margin-right: 50px;
              height: 16px;
              .filter-item-link {
                display: block;
                line-height: 16px;
              }
            }
          }
        }
        .filter-group-operation {
          width: 48px;
          height: 22px;
          position: absolute;
          top: 12px;
          right: 12px;
          .filter-group-button-multiple {
            width: 48px;
            line-height: 20px;
            text-align: center;
            vertical-align: top;
            background-color: #fff;
            color: #666;
            border: 1px solid #d1d1d1;
            border-radius: 3px;
            .filter-group-button-moreicon {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
